.section.section--banner {
  height: calc(100vh - 70px);

  .slogan {
    margin-left: auto;
    max-width: 400px;
    width: 100%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .section__wrapper {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    overflow: hidden;

    &::before {
      content: url("../img/banner-item.svg");
      position: absolute;
      right: 0;
      top: -200px;
      z-index: -1;
    }

    &::after {
      content: url("../img/banner-item-2.svg");
      position: absolute;
      right: 0;
      bottom: 45px;
      z-index: -1;
    }

    .section__description {
      position: relative;
      left: 20px;
      z-index: 2;
      max-width: 300px;

      .section__title {
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        padding: 0 0 10px 0;

        &::before {
          display: none;
        }
      }

      .section__text {
        padding-bottom: 20px;
      }
    }

    .section__image {
      height: 80%;
      display: flex;
      position: absolute;
      left: 60%;
      align-items: center;
      img {
        height: 100%;
      }
    }
  }
}
