.section.section--banner {
  height: calc(100vh - 70px);
  .section__wrapper {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    overflow: hidden;

    &::before {
      content: url("../img/banner-item.svg");
      position: absolute;
      right: 0;
      top: -200px;
      z-index: -1;
    }

    &::after {
      content: url("../img/banner-item-2.svg");
      position: absolute;
      right: 0;
      bottom: 45px;
      z-index: -1;
    }

    .section__description {
      position: relative;
      left: 20px;
      z-index: 2;
      max-width: 300px;

      .section__title {
        font-size: 36px;
        font-weight: 700;
      }

      .section__text {
        padding: 10px 0 20px;
      }
    }

    .section__image {
      height: 80%;
      display: flex;
      position: absolute;
      left: 60%;
      align-items: center;
      img {
        height: 100%;
      }
    }
  }

  .slogan {
    position: relative;
    text-align: right;
    padding-right: 20px;
    font-size: 32px;
    font-weight: 700;
    font-family: $secondary-font;
    letter-spacing: 1px;
    line-height: 36px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ebebeb;

    &::before {
      content: "";
      position: absolute;
      max-width: 160px;
      height: 1px;
      width: 100%;
      left: 20px;
      top: 50px;
      background: $primary-color;

      @media (max-width: 360px) {
        max-width: 110px;
      }
    }
  }
}
