.section--our-style {
  padding: 100px 33px 0px;

  .section__title {
    margin-top: 60px;

    @media (min-width: 576px) {
      padding-bottom: 10px;
    }
  }

  .cards-wrapper--our-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
