.section--last-projects {
  padding-top: 65px;

  @media (min-width: 768px) {
    padding-top: 135px;
  }

  .cards-wrapper--gallery {
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
  }
}
