@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.container {
  max-width: -webkit-calc(1280px - 200px);
  max-width: calc(1280px - 200px);
  width: 100%;
  margin: 0 auto; }

body {
  font-family: "Museo Sans Cyrl";
  color: #303030;
  line-height: 1.2; }

.section .section__title {
  position: relative;
  font-size: 22px;
  line-height: 1.3;
  color: #303030;
  text-align: center;
  padding-bottom: 30px; }
  .section .section__title::before {
    content: "";
    position: absolute;
    background: #dbbfb0;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    width: 50px;
    height: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -10px; }

.slogan {
  position: relative;
  text-align: right;
  padding-right: 20px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 36px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ebebeb; }
  .slogan::before {
    content: "";
    position: absolute;
    max-width: 160px;
    height: 1px;
    width: 100%;
    left: 20px;
    top: 50px;
    background: #dbbfb0; }
    @media (max-width: 360px) {
      .slogan::before {
        max-width: 110px; } }

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../../fonts/MuseoSansCyrl-500.eot");
  src: local("../../fonts/MuseoSansCyrl-500"), url("../../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../../MuseoSansCyrl-300.eot");
  src: local("../../MuseoSansCyrl-300"), url("../../MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../../MuseoSansCyrl-300.woff") format("woff"), url("../../MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

.header {
  padding: 0 20px;
  height: 70px;
  -webkit-box-shadow: 0px 2px 6px rgba(112, 112, 112, 0.06);
          box-shadow: 0px 2px 6px rgba(112, 112, 112, 0.06); }
  .header .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .header .header__wrapper .navigation {
      background: #fff;
      padding: 30px 0;
      position: absolute;
      z-index: 99;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.5s all cubic-bezier(0.53, -0.1, 0.21, 1.21);
      -o-transition: 0.5s all cubic-bezier(0.53, -0.1, 0.21, 1.21);
      transition: 0.5s all cubic-bezier(0.53, -0.1, 0.21, 1.21);
      top: -100%;
      left: 0;
      right: 0; }
      .header .header__wrapper .navigation.navigation--active {
        visibility: visible;
        opacity: 1;
        top: 70px; }
      .header .header__wrapper .navigation .list {
        width: 100%; }
        .header .header__wrapper .navigation .list .list__item a {
          padding: 5px 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          position: relative; }
          .header .header__wrapper .navigation .list .list__item a:hover::before {
            content: "";
            position: absolute;
            background: rgba(233, 207, 192, 0.69);
            width: 63px;
            height: 6px;
            bottom: 5px;
            z-index: -1; }
        .header .header__wrapper .navigation .list .list__item + .list__item {
          padding-top: 15px; }
    .header .header__wrapper .hamburger {
      cursor: pointer;
      padding: 10px;
      position: relative;
      left: 10px;
      border: none;
      background: none; }
      .header .header__wrapper .hamburger .line {
        display: block;
        width: 24px;
        height: 3px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        background: #303030; }
        .header .header__wrapper .hamburger .line + .line {
          margin-top: 4px; }

.footer {
  background: #2c2c2c;
  color: #fff;
  padding: 65px 0 50px 20px; }
  .footer .navigation .list .list__item {
    padding-top: 12px;
    font-size: 16px; }
    .footer .navigation .list .list__item.list__item--bolder {
      padding-top: 25px;
      font-weight: 700;
      text-transform: uppercase; }
  .footer .list--social-network {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 35px; }
    .footer .list--social-network .list__item + .list__item {
      padding-left: 30px; }

.btn {
  font-size: 14px;
  font-weight: 500;
  color: #303030;
  padding: 9px 44px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: none;
  font-weight: 700;
  cursor: pointer; }
  .btn.btn--primary {
    background: #dbbfb0; }

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #ffffff;
  padding: 33px 30px;
  -webkit-box-shadow: 0px 0px 9.9238px rgba(198, 198, 198, 0.35);
          box-shadow: 0px 0px 9.9238px rgba(198, 198, 198, 0.35); }
  .card .card__text {
    display: block;
    max-width: 262px;
    font-size: 18px;
    width: 100%;
    padding-top: 15px; }
  .card.card--our-style {
    width: 100%; }
    .card.card--our-style + .card--our-style {
      margin-top: 20px; }
    @media (min-width: 576px) {
      .card.card--our-style {
        width: 48%;
        padding: 30px;
        margin-top: 20px; } }
    @media (min-width: 1200px) {
      .card.card--our-style {
        width: 31.3%; } }
  .card.card--about-us {
    width: 50%;
    padding: 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 991px) {
      .card.card--about-us {
        width: 33.3%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .card.card--about-us .card__count {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 64px;
      line-height: 1.2; }
    .card.card--about-us .card__text {
      line-height: 1.5;
      max-width: 125px;
      padding-top: 10px; }
      @media (min-width: 991px) {
        .card.card--about-us .card__text {
          padding-top: 0;
          padding-left: 10px; } }
  .card.card--price {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(240, 222, 212, 0.5), 0px 0px 9.57143px rgba(198, 198, 198, 0.35);
            box-shadow: 0px 0px 10px rgba(240, 222, 212, 0.5), 0px 0px 9.57143px rgba(198, 198, 198, 0.35);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    min-height: 150px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 17px;
    padding: 10px; }
    .card.card--price + .card {
      margin-top: 20px; }
    .card.card--price .card__header {
      text-align: center;
      width: 100%;
      padding: 25px 0px;
      cursor: pointer; }
      .card.card--price .card__header .card__price {
        color: #dbbfb0; }
    .card.card--price .card__content {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 1s ease-in-out;
      -o-transition: max-height 1s ease-in-out;
      transition: max-height 1s ease-in-out; }
  .card.card--comment {
    -webkit-box-shadow: 0px 0px 10px rgba(198, 198, 198, 0.3);
            box-shadow: 0px 0px 10px rgba(198, 198, 198, 0.3);
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    max-width: 320px;
    width: 100%;
    padding: 30px 40px 34px 30px;
    position: relative;
    height: 100%; }
    @media (max-width: 375px) {
      .card.card--comment {
        padding: 15px 15px 20px; } }
    .card.card--comment::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #dbbfb0;
      left: 0;
      bottom: 0; }
    .card.card--comment .card__header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .card.card--comment .card__header .card__client-info {
        padding-left: 20px; }
        .card.card--comment .card__header .card__client-info .card__client-name {
          font-size: 18px;
          padding-top: 10px;
          font-weight: 700; }
        .card.card--comment .card__header .card__client-info .card__client-rate {
          font-size: 16px;
          padding-top: 5px; }
        .card.card--comment .card__header .card__client-info .card__client-social-network {
          color: #bbb;
          font-size: 16px;
          padding-top: 5px; }
    .card.card--comment .card__body {
      color: #7d7d7d;
      font-size: 16px;
      padding-top: 15px;
      line-height: 1.4; }
  .card.card--latest-project {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .card.card--latest-project .card__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .card.card--latest-project .card__wrapper img:first-child {
        margin-right: 30px; }
      .card.card--latest-project .card__wrapper.card__wrapper--row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        .card.card--latest-project .card__wrapper.card__wrapper--row-reverse img:first-child {
          margin-right: 0;
          margin-left: 30px; }

.slider--comment .slick-list {
  padding: 0 15% 0 0; }
  @media (min-width: 480px) {
    .slider--comment .slick-list {
      padding: 0; } }

.slider--comment .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.slider--comment .slick-track .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0 10px; }

.slider-wrapper {
  position: relative; }
  .slider-wrapper .slider--partners .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .slider-wrapper .slider--partners .slick-track .slick-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .slider-wrapper .slider--partners .slick-track .slick-slide img {
      width: 100%; }
  .slider-wrapper .slider--partners .slider__item {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .slider-wrapper .slider-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 20px; }
    .slider-wrapper .slider-navigation .slider-navigation__prev,
    .slider-wrapper .slider-navigation .slider-navigation__next {
      max-width: 25px; }
      .slider-wrapper .slider-navigation .slider-navigation__prev img,
      .slider-wrapper .slider-navigation .slider-navigation__next img {
        width: 100%;
        height: 100%; }
    .slider-wrapper .slider-navigation .slider-navigation__prev,
    .slider-wrapper .slider-navigation .slider-navigation__next {
      cursor: pointer;
      z-index: 20; }
    .slider-wrapper .slider-navigation .slider-navigation__prev {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .slider-wrapper .slider-navigation .slider-navigation__next {
      margin-left: 20px; }

.section.section--banner {
  height: -webkit-calc(100vh - 70px);
  height: calc(100vh - 70px); }
  .section.section--banner .section__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    .section.section--banner .section__wrapper::before {
      content: url("../img/banner-item.svg");
      position: absolute;
      right: 0;
      top: -200px;
      z-index: -1; }
    .section.section--banner .section__wrapper::after {
      content: url("../img/banner-item-2.svg");
      position: absolute;
      right: 0;
      bottom: 45px;
      z-index: -1; }
    .section.section--banner .section__wrapper .section__description {
      position: relative;
      left: 20px;
      z-index: 2;
      max-width: 300px; }
      .section.section--banner .section__wrapper .section__description .section__title {
        font-size: 36px;
        font-weight: 700;
        text-align: left; }
      .section.section--banner .section__wrapper .section__description .section__text {
        padding: 10px 0 20px; }
    .section.section--banner .section__wrapper .section__image {
      height: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 60%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section.section--banner .section__wrapper .section__image img {
        height: 100%; }

.section--our-style {
  padding: 100px 33px 0px; }
  .section--our-style .section__title {
    margin-top: 60px; }
    @media (min-width: 576px) {
      .section--our-style .section__title {
        padding-bottom: 10px; } }
  .section--our-style .cards-wrapper--our-style {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.section--about-us {
  padding-top: 60px; }
  .section--about-us .cards-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.section--price {
  padding-top: 60px; }
  .section--price .section__wrapper .cards-wrapper {
    padding: 0 20px; }

.section--last-projects {
  padding-top: 60px;
  display: none; }
  .section--last-projects .cards-wrapper--gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.section--work-process {
  padding-top: 60px; }
  @media (min-width: 991px) {
    .section--work-process .section__title {
      padding-bottom: 10px; } }
  .section--work-process .list {
    padding: 0 30px; }
    @media (min-width: 991px) {
      .section--work-process .list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .section--work-process .list .list__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (min-width: 991px) {
        .section--work-process .list .list__item {
          width: 49%;
          padding-top: 20px; } }
      .section--work-process .list .list__item + li {
        padding-top: 20px; }
      .section--work-process .list .list__item .list__count {
        position: relative;
        font-size: 32px;
        letter-spacing: 0.5px; }
        .section--work-process .list .list__item .list__count::before {
          content: "";
          background: #ddcbc1;
          width: 10px;
          position: absolute;
          left: 0;
          height: 100%;
          z-index: -1; }
      .section--work-process .list .list__item .list__text {
        padding-left: 15px;
        font-size: 18px; }

.section--reviews {
  padding-top: 60px; }

.section--partners {
  padding-top: 65px; }

.section--feedback {
  overflow: hidden; }
  .section--feedback .section__title {
    text-align: start;
    padding-bottom: 20px; }
    .section--feedback .section__title::before {
      display: none; }
  .section--feedback .title-wrapper {
    position: relative;
    padding: 140px 0 70px 20px; }
    .section--feedback .title-wrapper::before {
      content: "";
      position: absolute;
      width: 500px;
      height: 222px;
      left: -20%;
      top: 60%;
      background: rgba(247, 247, 247, 0.62);
      -webkit-transform: rotate(16.77deg) translateY(-50%);
          -ms-transform: rotate(16.77deg) translateY(-50%);
              transform: rotate(16.77deg) translateY(-50%); }
    .section--feedback .title-wrapper .btn {
      position: relative; }
  .section--feedback .list--contact {
    position: relative;
    padding: 80px 0 80px 75px;
    background: #dbbfb0;
    z-index: -1; }
    .section--feedback .list--contact::before {
      content: "";
      position: absolute;
      background: #bda79a;
      height: 150px;
      width: 4px;
      left: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .section--feedback .list--contact .list__item {
      font-size: 20px;
      position: relative; }
      .section--feedback .list--contact .list__item::before {
        content: url("../img/envelope.svg");
        position: absolute;
        left: -35px;
        top: 0; }
      .section--feedback .list--contact .list__item:first-child::before {
        content: url("../img/phone-call.svg"); }
      .section--feedback .list--contact .list__item:last-child::before {
        content: url("../img/location.svg"); }
      .section--feedback .list--contact .list__item + .list__item {
        margin-top: 15px; }
  .section--feedback .slogan {
    margin: 15px 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
