.btn {
  font-size: 14px;
  font-weight: 500;
  color: $dark-color;
  padding: 15px 0;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  max-width: 155px;
  width: 100%;
  font-family: $primary-font;

  @media (min-width: 768px) {
    max-width: 210px;
    font-size: 16px;
  }

  &.btn--primary {
    background: $primary-color;
  }
}
