.form-wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(198, 198, 198, 0.35);
  border-radius: 5px;
  max-width: 345px;
  width: 100%;
  padding: 40px 40px 45px 40px;

  .form__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 10px;
  }

  .form__text {
    color: #686868;
    font-size: 16px;
    line-height: 1.3;
    max-width: 260px;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 100%;
    }
  }

  .form.form--feedback {
    display: flex;
    flex-direction: column;

    .input-field {
      font-size: 15px;
      color: $dark-color;
      border: none;
      padding: 10px;
      border-bottom: 1px solid #939393;
      margin-bottom: 30px;

      &::placeholder {
        color: #b6b6b6;
      }

      &:first-child {
        margin-top: 25px;
      }

      &:nth-last-child(2) {
        margin-bottom: 45px;
      }
    }

    .btn {
      max-width: 210px;
      margin: 0 auto;
    }
  }
}
